.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.paginationButton {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  cursor: pointer;
  transition: background-color 0.2s;
}

.paginationButton:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.paginationButton:hover:not(:disabled) {
  background-color: #ddd;
}

.pageInfo {
  font-size: 1rem;
}